.button {
    margin: 0 8px !important;
    color: #fff !important;
    background-color: #000033 !important;
    padding: 10px !important;
    min-width: auto !important;
    border-radius: 50% !important;
}

.button:hover {
    background-color: #000066 !important;
}

.modalBox {
    width: 50% !important;
    height: 70%;
    padding: 0px;
}

.gridHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F3FA;
    border-color: #F0F3FA;
}

.gridBody {
    display: flex;
    justify-content: space-around;
}

.title {
    width: 600px;
}

.description {
    width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}