.button {
    margin: 0 8px !important;
    color: #fff !important;
    background-color: var(--theme-color) !important;
    padding: 10px !important;
    min-width: auto !important;
    border-radius: 50% !important;
}

.button:hover {
    background-color: var(--theme-color1) !important;
}

.gridHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F3FA;
    border-color: #F0F3FA;
}

.gridBody {
    display: flex;
    justify-content: space-around;
}

.title {
    width: 600px;
}

.description {
    width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.table_header {
    background: var(--theme-color);
    color: #fff !important;
}

.table_body tr:nth-child(even) {
    background-color: #ddd;
}