.loader {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.loader div {
    background: #fff;
    width: 10px;
    height: 30px;
    margin-left: 10px;
    animation: loader 1.2s infinite;
    border-radius: 10px;
}

@keyframes loader {
    50% {
        height: 64px;
    }
}

.loader div:nth-child(1) {
    background: #FF9F1A;
    animation-delay: -0.40s;
}

.loader div:nth-child(2) {
    background: #FED330;
    animation-delay: -0.20s;
}

.loader div:nth-child(3) {
    background: #FFFA65;
    animation-delay: 0s;
}