.appbar{
    background-color:#fff !important;
    color: #1F2226 !important;
}
.container{
    height: 50px;
}
.toolbar{
    
    height: 47px;
    min-height: 52px;
}
.active{
    font-weight: 400;
    color: #e43958;
    border-bottom: 2px solid #e43958;
    padding: 0px;
    border-radius: 0px;
}
.boolean{
    font-size: x-small;
    line-height: 3.7;
    font-weight: 600;
}
