.taskpage{
    padding-left: 50px;
    padding-right: 50px;
    background-color:#f0f3fa;
    height:100vh;
    font-family: "Inter", sans-serif;
}
.setting{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 8px;
}